/*-------------------------------------------------contact-----------------------------------------------*/



@media only screen and (max-width: 1920px) {
    .contactcontant {
      
        max-width: 60rem;
        padding:0 1.5em;
        margin: 0 auto;
    }
    .info {
        top: 34%;
        left: 20%;
        position: absolute;
        display: flex;
        z-index: 99;
        font-size: 1.2rem;
        mix-blend-mode: difference ;
        color: #D1D1D1;
        text-align: left;
        font-family: Helvetica;
        font-style: normal;
        text-transform: uppercase;
    
        
    }
    
    .SM {
        top: 30%;
        left: 55%;
        position: absolute;
        display: flex;
        z-index: 99;
        font-size: 1.2rem;
        mix-blend-mode: difference ;
        color: #D1D1D1;
        text-align: left;
        font-family: Helvetica;
        font-style: normal;
        text-transform: uppercase;
    }
    
    .foter {
        top: 80%;
        left: 40%;
        position: absolute;
        display: flex;
        z-index: 99;
        font-size: 1.2rem;
        mix-blend-mode: difference ;
        color: #D1D1D1;
        text-align: center;
        font-family: Helvetica;
        font-style: normal;
        text-transform: uppercase;
    }
}


@media only screen and (max-width: 1600px) {

}
@media only screen and (max-width: 1440px) {
    .info {
        top: 38%;
        left: 15%;
        font-size: 1.3rem;

    }
    
    .SM {
        top: 35%;
        left: 55%;
        font-size: 1.3rem;
      
    }

    .foter {

        left: 35%;
        font-size: 1.3rem;

    }
}
@media only screen and (max-width: 1200px) {
    .info {
        top: 30%;
        left: 10%;
        

    }
    
    .SM {
        top: 45%;
        left: 10%;
        text-align: left;
      
    }
    .foter {

        left: 35%;
        


    }
}

@media only screen and (max-width: 1024px) {
    .info {
        top: 25%;
        left: 10%;
        

    }
    
    .SM {
        top: 40%;
        left: 10%;
        text-align: left;
      
    }

    .foter {

        left: 30%;
        top: 80%;


    }
}

@media only screen and (max-width: 768px) {
    .foter {
        top: 80%;
        left: 25%;
      
    }

}

@media only screen and (max-width: 624px) {
    .info {
        top: 20%;
        left: 10%;
        

    }
    
    .SM {
        top: 35%;
        left: 10%;
      
      
    }
    .foter {
        top: 80%;
        left: 20%;
      
    }
}
@media only screen and (max-width: 480px) {
    .info {
  
        font-size: 1.1rem;

    }
    
    .SM {
  
        font-size: 1.1rem;
      
    }
    .foter {
        top: 80%;
        font-size: 1.1rem;
        left: 18%;
      
    }
}